<p class="lead">Объявляет набор на курс <span class="badge badge-danger">Full-Stack Web Developer</span> с нуля. Начало курса <span class="badge badge-warning">23 октября 2017г</span>. Получи высокооплачиваимую и интересную профессию веб-разработчика за <span class="badge badge-success">6 месяцев</span>.</p>
<hr class="my-4">
<p>Набираем экспериментальную группу из 10 человек. Программа курса составлена с учетом опыта буткэмпов из Бостона США. Вы изучите серверный и клиентский языки программирования (Ruby on Rails, Node.js, React). По окончанию курса у выпускника будет достаточно знаний для работы на должности веб-разработчик.</p>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="/courses" role="button">Узнать больше</a>
</p>
