<p class="lead">We are announcing new course <span class="badge badge-danger">Full-Stack Web Developer</span> from zero. It starts on <span class="badge badge-warning">October 23, 2017</span>. Get well-paid and interesting job of the web-developer for <span class="badge badge-success">6 months</span>.</p>
<hr class="my-4">
<p>The training group will consist of 10 people. The course program is based on the bootcamp experience from Boston USA. You will learn server and client programming languages (Ruby on Rails, Node.js, React). At the end of the course, the graduate will have enough knowledge to work as a web developer.</p>
<p class="lead">
  <%= link_to 'Course Program', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
</p>
