<h5><span class="badge badge-primary">Module 1</span> Welcome to Programming <span class="badge badge-success">1 week</span></h5>
<ol>
  <li>Introduction to Programming <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Programming specialist fields' review: <b>web developer (frontend, backend, full-stack)</b>, mobile (iOS, Android), SQL (MS SQL, PL SQL, Postgres), Data Science (Machine Learning, Data Mining, Cluster Analysis), VR development, Games development</li>
      <li>Programming Languages and Frameworks' review: Java, C#, Python, <b>Ruby on Rails</b>, Swift, Objective C, <b>JavaScript, React</b>, Angular, Vue, jQuery</li>
      <li><span class="badge badge-warning">Homework</span>: Install ruby, play around with IRB</li>
    </ul>
  </li>
  <li>How to find your first job in the field of programming <span class="badge badge-success">0.5 hour</span></li>
  <li>Version Control <span class="badge badge-success">1 hour</span>
    <ul>
      <li><b>Git (GitHub)</b>, SVN, TFS</li>
      <li><span class="badge badge-warning">Homework</span>: Setting GitHub account, adding SSH keys and creating your first repository</li>
    </ul>
  </li>
  <li>Text Editors and IDEs <span class="badge badge-success">0.5 hour</span>
    <ul>
      <li><b>Sublime Text</b>, Visual Studio Code, Atom, WebStorm, RubyMine</li>
      <li><span class="badge badge-warning">Homework</span>: Set up Sublime Text editor, add JavaScript and Ruby autocomplete plugins</li>
    </ul>
  </li>
  <li>Linux or Mac basics <span class="badge badge-success">1 hour</span>
    <ul>
      <li>Terminal basic commands</li>
      <li>VI basic commands</li>
      <li><span class="badge badge-warning">Home task</span>: Create basic HTML index page using Terminal and VI</li>
    </ul>
  </li>
  <li>Tools <span class="badge badge-success">0.5 hour</span>
    <ul>
      <li>Slack, Jira, Git</li>
      <li><span class="badge badge-warning">Homework</span>: Register your Slack account and join the Bootcamp team</li>
    </ul>
  </li>
</ol>

<h5><span class="badge badge-primary">Module 2</span> CSS / HTML / JavaScript <span class="badge badge-success">2 weeks</span></h5>
<ol>
  <li>Basics of CSS / HTML <span class="badge badge-success">2 hours</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Create your personal page with your bio, photo, email and phone number. Use as many CSS and HTML tags as you can (<a href="https://fvsch.com/code/base-stylesheet/full.css" target="_blank">fvsch.com/code/base-stylesheet/full.css</a>)</li>
    </ul>
  </li>
  <li>Basics of JavaScript and jQuery <span class="badge badge-success">2 hours</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Add some JavaScript to you page: alerts, a form to calculate your precise age, manipulations with DOM</li>
    </ul>
  </li>
  <li>Responsive sites <span class="badge badge-success">2 hours</span>
    <ul>
      <li><b>Twitter Bootstrap</b> / Material UI / Foundation</li>
      <li><span class="badge badge-warning">Homework</span>: Create you bio page using a bootstrap template. The page should be responsive. Use the grid system, tables, navigation, at least two pages, a carousel</li>
    </ul>
  </li>
  <li>Setting up Linux server <span class="badge badge-success">2 hours</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Register Linode account, acquire domain name, set up nginx and add the site to hosting</li>
    </ul>
  </li>
</ol>

<h5><span class="badge badge-primary">Module 3</span> Ruby on Rails <span class="badge badge-success">9 weeks</span></h5>
<ol>
  <li>Ruby on Rails and object oriented programming <span class="badge badge-success">1 hour</span>
    <ul>
      <li>IRB</li>
      <li>Basic OOP concepts</li>
      <li><span class="badge badge-warning">Homework</span>: Make an interactive console ruby application. Use OOP approach</li>
    </ul>
  </li>
  <li>Ruby on Rails (RoR) project structure <span class="badge badge-success">2 hours</span>
    <ul>
      <li>MVC programming pattern. MVC parts: Models, Views, Controllers, Routing</li>
      <li>Gems, Bundler</li>
      <li>Static Ruby on Rails site</li>
      <li><span class="badge badge-warning">Homework</span>: Make a two pages personal web site with a header and a footer</li>
    </ul>
  </li>
  <li>Deployment application tool - Capistrano <span class="badge badge-success">1 hour</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Set up Capistrano for your project</li>
    </ul>
  </li>
  <li>SQL Basics <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Install and configurate Postgres (Linux, OSX)</li>
      <li>Set up Rails database config, create a model, seed data, basic SQL commands</li>
      <li>Theory of relational databases</li>
      <li><span class="badge badge-warning">Homework</span>: Create two tables, with an index and a foreign key. Scripts to fill data in tables, to select data, to group data, to update data, to delete</li>
    </ul>
  </li>
  <li>Rails Assets <span class="badge badge-success">2 hours</span>
    <ul>
      <li>CSS, JavaScript, Images, Fonts</li>
      <li>Add Bootstrap to project</li>
      <li><span class="badge badge-warning">Homework</span>: Add a custom template to project</li>
    </ul>
  </li>
  <li>Authentication with Devise gem <span class="badge badge-success">1 hour</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Create a site with a registration and a user page</li>
    </ul>
  </li>
  <li>Authorisation with CanCan <span class="badge badge-success">1 hour</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Add an option for an admin user to look through the list of all users</li>
    </ul>
  </li>
  <li>Work with images and files <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Set up ImageMagick</li>
      <li>Add Images and files to your project</li>
      <li><span class="badge badge-warning">Homework</span>: Add file upload and image upload to your project</li>
    </ul>
  </li>
  <li>Rails console <span class="badge badge-success">1 hour</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Create data through rails console, work with models, select data</li>
    </ul>
  </li>
  <li>Mailers and Gmail integration<span class="badge badge-success">2 hour</span>
    <ul>
      <li><span class="badge badge-warning">Home task</span>: Set up mailers and templates for your project</li>
    </ul>
  </li>
  <li>Background jobs: Redis, Resque <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Resque-web</li>
      <li>God</li>
      <li><span class="badge badge-warning">Homewok</span>: Create model messages. Create UI for the admin to create the message. Set up the weekly news email for all users, sent with Resque</li>
    </ul>
  </li>
  <li>We'll talk about AWS S3 file storage and other AWS services <span class="badge badge-success">2 hour</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Set up AWS account. Set up AWS S3 storage for your project</li>
    </ul>
  </li>
  <li>Integration with REST APIs <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Twitter example</li>
      <li><span class="badge badge-warning">Homework</span>: Integrate your project with Twitter, Facebook</li>
    </ul>
  </li>
  <li>Rspec-testing <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Unit tests</li>
      <li>Request tests</li>
      <li>Testing JavaScript</li>
      <li><span class="badge badge-warning">Home task</span>: Write tests for your project</li>
    </ul>
  </li>
  <li>Developing your ruby library - Gem <span class="badge badge-success">2 hours</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Create your personal library</li>
    </ul>
  </li>
  <li>Developing REST API <span class="badge badge-success">4 hours</span>
    <ul>
      <li>API template, API version</li>
      <li>CORS settings</li>
      <li>Authentication (Gems, JWT for server)</li>
      <li>Serializers</li>
      <li>Tests</li>
      <li>Services</li>
      <li>Queries</li>
      <li><span class="badge badge-warning">Homework</span>: Create REST API for model singers</li>
    </ul>
  </li>
  <li>Personal project <span class="badge badge-danger">Student's сoursework</span> <span class="badge badge-success">4 hours</span>
    <ul>
      <li>Get professional advice on personal projects, while working on them!</li>
      <li><b>Project types</b>: E-Commerce site or Integration module or Social network</li>
      <li><b>Project should have</b>: custom UI design, at least one integration, at least one background job</li>
    </ul>
  </li>
  <li>Team project. 3 members in each team <span class="badge badge-danger">Coursework</span> <span class="badge badge-success">4 hours</span>
    <ul>
      <li>Get professional advice, while working on team projects!</li>
      <li><b>Project types</b>: REST API for education system. Models: Teacher, Student, Exam, ExamResult</li>
      <li><b>Project should have</b>: Custom UI design, at least two integrations, at least two background jobs</li>
    </ul>
  </li>
</ol>

<h5><span class="badge badge-primary">Module 4</span> Node.js and React <span class="badge badge-success">9 weeks</span></h5>
<ol>
  <li>What is Node.js <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Install NPM, Node</li>
      <li>EcmaScript 6+</li>
      <li>Node REPL</li>
      <li>Webpack</li>
      <li>React alternatives: Angular 2, Vue, Meteor, Ember</li>
      <li><span class="badge badge-warning">Homework</span>: Create a new node.js project. Play around with node</li>
    </ul>
  </li>
  <li>Integrate React in RoR Project <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Setting up Webpack for Rails project</li>
      <li>ES6 modules, import, export</li>
      <li>Dynamic page with React example</li>
      <li><span class="badge badge-warning">Homework</span>: Create an editable grid page with React (integrated in Rails app): Webpack, ES6+</li>
    </ul>
  </li>
  <li>Projects react-rails / react_on_rails <span class="badge badge-success">2 hours</span>
    <ul>
      <li>react-rails example</li>
      <li>react_on_rails example</li>
      <li><span class="badge badge-warning">Homework</span>: Make a demo project with two models and a server side rendering with one of projects</li>
    </ul>
  </li>
  <li>Redux <span class="badge badge-success">3 hours</span>
    <ul>
      <li>Why use Redux</li>
      <li>Redux alternatives</li>
      <li>Dynamic page with Redux example</li>
      <li>Redux Thunk Middleware: Redux Thunk</li>
      <li><span class="badge badge-warning">Homework</span>: Create an editable grid page with React and Redux</li>
    </ul>
  </li>
  <li>Single Page Application SPA <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Create a new JavaScript project, add essential dependancies, Webpack, React, Redux, React Router</li>
      <li><span class="badge badge-warning">Home task</span>: Create a personal project with Webpack, React, Redux, React Router and couple of pages</li>
    </ul>
  </li>
  <li>Running the create-react-app for a new project <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Project structure</li>
      <li>Start up scripts</li>
      <li>Adding Redux and React Router</li>
      <li>Grid Page</li>
      <li><span class="badge badge-warning">Homework</span>: Continue where you started during the lecture - create a page and Edit the  page. Routing</li>
    </ul>
  </li>
  <li>What it takes to be a Webpack Engineer! <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Assets, Loaders, npm scripts</li>
      <li>Dev and productions configurations</li>
      <li>Start with mocks</li>
      <li><span class="badge badge-warning">Homework</span>: Set up webpack from scratch</li>
    </ul>
  </li>
  <li>Productivity: ESLint, mocks with nock <span class="badge badge-success">1 hour</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Set up personal eslintrc.js, play around with different code styles</li>
    </ul>
  </li>
  <li>Testing Application: Jest, Karma <span class="badge badge-success">3 hours</span>
    <ul>
      <li>Testing functions</li>
      <li>Testing components</li>
      <li>Integration tests</li>
      <li><span class="badge badge-warning">Homework</span>: Full coverage for your project</li>
    </ul>
  </li>
  <li>Authentication for SPA <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Understanding of authentication and authorisation</li>
      <li>JWT authentication</li>
      <li><span class="badge badge-warning">Homework</span>: Create a new project and add JWT authentication with existing Rails backend</li>
    </ul>
  </li>
  <li>Node.js Express server <span class="badge badge-success">4 hours</span>
    <ul>
      <li>Purpose of node.js server</li>
      <li>Add services and mocks to node.js server</li>
      <li>Adding business logic to node.js server</li>
      <li>Authentication on server usage</li>
      <li><span class="badge badge-warning">Homework</span>: Create an application with Express server connected to Postgres database and CRUD UI</li>
    </ul>
  </li>
  <li>Google Firebase <span class="badge badge-success">2 hours</span>
    <ul>
      <li>What is Firebase and when you should use it</li>
      <li>Firebase as backend for SPA usage</li>
      <li><span class="badge badge-warning">Homework</span>: Replace Postgres with Firebase</li>
    </ul>
  </li>
  <li>Setting Up Production server <span class="badge badge-success">2 hours</span>
    <ul>
      <li>Nginx, Express</li>
      <li><span class="badge badge-warning">Homework</span>: Set up production environment for your node.js project with assets</li>
    </ul>
  </li>
  <li>Continuous deployment of node.js application with Jenkins / Travis CI <span class="badge badge-success">2 hours</span>
    <ul>
      <li><span class="badge badge-warning">Homework</span>: Deploy your node.js application with Jenkins</li>
    </ul>
  </li>
  <li>Personal project <span class="badge badge-danger">Coursework</span> <span class="badge badge-success">4 hours</span>
    <ul>
      <li>Get professional advice while working on your personal project!</li>
    </ul>
  </li>
  <li>Team project 3 members in each team <span class="badge badge-danger">Coursework</span> <span class="badge badge-success">4 hours</span>
    <ul>
      <li>Get professional advice while working on team projects!</li>
    </ul>
  </li>
</ol>

<h5>End</h5>
<ol>
  <li>Written test for all modules <span class="badge badge-danger">Final test</span>
  <li>Two types of certificates are given: ordinary and extraordinary</li>
  <li>Advice on finding a job</li>
  <li>Technical support <span class="badge badge-success">1 month</span></li>
</ol>
