<div class="become-instructor-block">
  <h1><%=t :nav_become_instructor %></h1>
  <p>If you are experienced web-developer and want to ogranize your course we could help you:</p>
  <ul>
  <li>Find students</li>
  <li>Consult on making you program interesting and find like-minded people</li>
  <li>Technical and legal stuff: necessary software, conference room, instruments for collobaration with students, contract of study</li>
  <li>Replace you in case of abcence or ill</li>
  </ul>
  <p><a href="mailto:info@busation.com?subject=Become Coding Bootcamp Instructor">Write a letter</a></p>
</div>
