<div class="become-instructor-block">
  <h1><%=t :nav_become_instructor %></h1>
  <p>Если вы опытный веб-разработчик и хотите проводить свои обучающие курсы, мы поможем вам:</p>
  <ul>
    <li>Разместим ваш курс на сайте</li>
    <li>Предоставим личный кабинет ментора для управление процессом обучения</li>
    <li>Поможем найти студентов</li>
    <li>Проконсультируем по техническим вопросам: составление плана урока, запись видео, работа со студентами</li>
    <li>Решим юридические вопросы: договор обучения, прием оплаты за курсы</li>
    <li>Заменим вас в случае болезни</li>
  </ul>
  <p>Напишите нам <%= codingbootcamp_email('Become Coding Bootcamp Instructor') %></p>
</div>
