<div class="become-instructor-block">
  <h1><%=t :nav_become_instructor %></h1>
  <p>Если вы опытный веб-разработчик и хотите проводить свои обучающие курсы, мы поможем вам:</p>
  <ul>
  <li>Найти студентов</li>
  <li>Проконсультируем, как сделать ваш курс интересным и найдем единомышленников</li>
  <li>Решим технические и юридические вопросы: неоходимое ПО, конференц-зал, инструмены для взаимодействия со студентами, договор обучения</li>
  <li>Заменим вас в случае болезни</li>
  </ul>
  <p><a href="mailto:info@busation.com?subject=Become Coding Bootcamp Instructor">Написать нам</a></p>
</div>
