<div class="become-instructor-block">
  <h1><%=t :nav_become_instructor %></h1>
  <p>If you are an experienced web-developer and want to launch your course we can help you:</p>
  <ul>
  <li>Find students</li>
  <li>Make your program more interesting and find like-minded people</li>
  <li>With technical and legal stuff: essential software, a conference room, tools for collobaration with students, a contract of study</li>
  <li>With a substitute teacher if you're ill or absent</li>
  </ul>
  <p><a href="mailto:info@busation.com?subject=Become Coding Bootcamp Instructor">Write a letter</a></p>
</div>
