<div>
  <h1><%=t :nav_contacts %></h1>
  <p>Michael Klishevich<br/>
  Phone.: <a href="tel:+79165926645">+7 916 592 6645</a><br/>
  Email: <a href="mailto:info@busation.com?subject=Enrol Coding Bootcamp">info@busation.com</a><br/>
  Telegram: @klishevich<br/>
  Github: <a href="https://github.com/klishevich">@klishevich</a><br/>
  Twitter: <a href="https://twitter.com/busation">@busation</a><br/>
  </p>
</div>
