<% provide :title, "Контакты #{t(:default_title)}" %>
<% provide :description, "Контакты #{t(:default_title)}" %>
<div class="content-block">
  <h1><%=t :nav_contacts %></h1>
  <p>
    <b><%= t(:default_title) %></b><br/>
    Майкл Клишевич<br/>
    Тел.: <a href="tel:+79165926645">+7 916 592 6645</a><br/>
    Telegram: <%= link_to '@klishevich', 'https://t.me/klishevich', target: :_blank %><br/>
    Email:  <%= codingbootcamp_email %><br/>
  </p>
</div>
