<div>
  <h1><%=t :nav_contacts %></h1>
  <p>
    Майкл Клишевич<br/>
    Telegram: @klishevich<br/>
    Тел.: <a href="tel:+79165926645">+7 916 592 6645</a><br/>
    Email:  <%= codingbootcamp_email %><br/>
  </p>
  <h3>Наш канал в Telegram</h3>
  <p>Чтобы получать последние новости подписывайтесь на наш канал - <a href="https://t.me/codingbootcamp">t.me/codingbootcamp</a></p>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "telegram_group.png", class: "img-fluid" %>
    </div>
  </div>
</div>
