<div>
  <h1><%=t :nav_contacts %></h1>
  <p>Майкл Клишевич<br/>
  Тел.: <a href="tel:+79165926645">+7 916 592 6645</a><br/>
  Email: <a href="mailto:info@busation.com?subject=Coding Bootcamp">info@busation.com</a><br/>
  Telegram: @klishevich<br/>
  Twitter: <a href="https://twitter.com/busation">@busation</a><br/>
  </p>
</div>
