<div>
  <h1><%=t :nav_corporate_workshop %></h1>
  <p>If you need a corporate workshop on web-development with React, Node.js or Ruby on Rails feel free to contact us.</p>
  <p><a href="mailto:info@busation.com?subject=Coding Bootcamp Corporate Workshop">Write a letter</a></p>
</div>
