<div>
  <h1><%=t :nav_corporate_workshop %></h1>
  <p>Если вам нужен корпоративный семинар по веб-разработке с использованием React, Node.js или Ruby on Rails будем рады сотрудничеству.</p>
  <p>Напишите нам <%= codingbootcamp_email('Coding Bootcamp Corporate Workshop') %></p>
</div>
