<div>
  <h1><%=t :nav_corporate_workshop %></h1>
  <p>Если вам нужен корпоративный семинар по веб-разработке с использованием React, Node.js или Ruby on Rails будем рады сотрудничеству.</p>
  <p><a href="mailto:info@busation.com?subject=Coding Bootcamp Corporate Workshop">Написать нам</a></p>
</div>
