<div>
  <h1><%=t :nav_courses %></h1>
  <p><%= link_to t(:program_intro_to_web), program_intro_to_web_path %></p>
  <p><%= link_to t(:program_web_developer), program_web_developer_path %></p>
  <p><%= link_to t(:program_modern_javascript), program_modern_javascript_path %></p>
</div>
