<div class="courses-page-block">
  <h1 class="courses-page-block__title"><%=t :nav_courses %></h1>
  <div class="courses-page-block__item"><%= link_to t(:program_intro_to_web), program_intro_to_web_path %></div>
  <div class="courses-page-block__item"><%= link_to t(:program_web_developer), program_web_developer_path %></div>
  <div class="courses-page-block__item"><%= link_to t(:program_modern_javascript), program_modern_javascript_path %></div>
</div>
