<div>
  <h1><%=t :nav_hiring_students %></h1>
  <p>We are opened to cooperate with employers and agencies to find first job for our students.</p>
  <p><a href="mailto:info@busation.com?subject=Coding Bootcamp Hire Students">Write a letter</a></p>
</div>
