<div>
  <h1><%=t :nav_hiring_students %></h1>
  <p>Мы открыты для сотрудничества с работодателями и агенствами по вопросу трудоустройства наших студентов.</p>
  <p><a href="mailto:info@busation.com?subject=Coding Bootcamp Hire Students">Написать нам</a></p>
</div>
