<div>
  <h1><%=t :nav_hiring_students %></h1>
  <p>Мы открыты для сотрудничества с работодателями и агенствами по вопросу трудоустройства наших студентов.</p>
  <p>Напишите нам <%= codingbootcamp_email('Coding Bootcamp Hire Students') %></p>
</div>
