<% provide(:title, "Boston Coding Bootcamp в Москве") %>
<% provide(:description, "Boston Coding Bootcamp в Москве обучение веб-разработке за 6 месяцев, Ruby on Rails, Node.js, React") %>
<% provide(:keywords, "boston, coding, bootcamp, бостон, программирование, буткэмп, лагерь, веб-разработка, обучение, ruby on rails, react, node.js") %>
<div class="starter-template">
  <div class="jumbotron d-none d-lg-block">
    <h1 class="display-3">Boston Coding Bootcamp в Москве</h1>
    <%= render 'home_promo' %>
  </div>
  <div class="d-block d-lg-none">
    <h1 class="display-5">Boston Coding Bootcamp в Москве</h1>
    <%= render 'home_promo' %>
  </div>
  <div class="course-block">
    <h2>Основная информация о курсе</h2>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        23 октября 2017г
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Окончание обучения:</b>
      </div>
      <div class="col-lg-9">
        23 апреля 2018г
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Форма обучения:</b>
      </div>
      <div class="col-lg-9">
        онлайн вебинары с использованием Zoom + физические встречи в Москве не реже 1 раза в месяц
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>График обучения:</b>
      </div>
      <div class="col-lg-9">
        2 раза в неделю (вторник и четверг) с 19:00 до 21:00 лекции, 1 раз в неделю (суббота) с 10:00 до 12:00 семинары (время Московское)
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Домашние задания:</b>
      </div>
      <div class="col-lg-9">
        после каждой лекции выдается обязательное домашнее задание, нужно планировать минимум 4 часа каждую неделю на выполнение домашнего задания
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Стоимость обучения:</b>
      </div>
      <div class="col-lg-9">
        200 долларов США в месяц, оплата ежемесячная
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Условия зачисления:</b>
      </div>
      <div class="col-lg-9">
        интервью через скайп
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Идеальный студент:</b>
      </div>
      <div class="col-lg-9">
        способен читать по английски, имеет понимание об алгоритмах и программировании, хорошо если есть опыт с HTML/CSS/JavaScript. Возможно зачисление для студентов без какого-либо опыта, но с техническим складом ума. Возраст от 16 лет.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Цель курса:</b>
      </div>
      <div class="col-lg-9">
        дать достаточные знания (Ruby on Rails, Node.js, React) для устройста на работу веб-разработчиком. Оказываем помощь в поиске работы, но не даем гарантии трудоустройства
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Язык преподавания:</b>
      </div>
      <div class="col-lg-9">
        русский и английский
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Примечание:</b>
      </div>
      <div class="col-lg-9">
        студенты с плохой успеваемостью могут быть отчислены без возврата денег за пройденный период обучения
      </div>
    </div>
  </div>
  <div class="course-block">
    <h2>Зачисление в буткэмп</h2>
    <div class="center-text">
      <div>Напишите мне на email <a href="mailto:info@busation.com?subject=Enrol to Boston Coding Bootcamp">info@busation.com</a></div>
      <div>или в Telegram @klishevich</div>
      <div>или в Twitter <a href="https://twitter.com/busation">@busation</a></div>
      <div>и мы запланируем интервью</div>
      <div>Майкл Клишевич</div>
    </div>
  </div>
</div>
