<div class="starter-template">
  <h1><%=t :home_page_header %></h1>
  <p class="lead"><%=t :home_page_text1 %><br> <%=t :home_page_text2 %> <a href="mailto:info@busation.com">info@busation.com</a>.</p>
</div>
