<% provide(:title, "#{t(:default_title)} - learn web-development") %>
<% provide(:description, "Learn web-development programming for 6 months, Ruby on Rails, Node.js, React with #{t(:default_title)}") %>
<% provide(:keywords, "boston, coding, bootcamp, programming, learn, study, ruby on rails, react, node.js, #{t(:default_title)}") %>
<div class="starter-template">
  <div class="d-block">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
    </div>
    <h1 class="display-5"><%= t(:default_title) %></h1>
    <p class="lead">We are announcing a new course <span class="badge badge-danger">Full-Stack Web Developer</span> from scratch. It starts on <span class="badge badge-warning">October 23, 2017</span>. Get a well-paid and interesting job of a web-developer in not more than <span class="badge badge-success">6 months!</span>.</p>
    <hr class="my-4">
    <p>The training group will consist of 10 people. The course program is based on the bootcamp experience from Boston, USA. You will learn server and client programming languages (Ruby on Rails, Node.js, React). At the end of the course a graduate will have enough knowledge to work as a web developer.</p>
    <div class="lead">
      <%= link_to 'Course Program', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </div>
  </div>
  <div class="course-block">
    <h2>Basic Course Information</h2>
    <div class="row">
      <div class="col-lg-3">
        <b>Bootcamp starts:</b>
      </div>
      <div class="col-lg-9">
        October 23, 2017
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Bootcamp ends:</b>
      </div>
      <div class="col-lg-9">
        April 23, 2018
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Form of study:</b>
      </div>
      <div class="col-lg-9">
        Online webinars using Zoom + meeting in person once a week in Moscow
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Schedule of study:</b>
      </div>
      <div class="col-lg-9">
        Two times a week (Tuesday, Thursday) from 7pm to 9pm lecture, one time a week (Saturday) from 10am to 12am seminary (Moscow time)
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Homework:</b>
      </div>
      <div class="col-lg-9">
        After each lecture a homework is given, so plan on spending at least 4 hours for homework each week.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Cost of study:</b>
      </div>
      <div class="col-lg-9">
        $1200 (or $200 a month)
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Preliminary enrolling policies:</b>
      </div>
      <div class="col-lg-9">
        Skype interview
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Our ideal student:</b>
      </div>
      <div class="col-lg-9">
        Is able to read English, should have some understanding of programming. It's not out of place if he/she has got some experience with HTML/CSS and any programming language. Although students without any prior experience are acceptable, we prefer people with technical mentality, 16 year old +
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Purpose of the course:</b>
      </div>
      <div class="col-lg-9">
        To give enough knowledge, to get a job as a junior web-developer. We help you find your first job, although we give no guarantee you'll get it.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>The languages of the course:</b>
      </div>
      <div class="col-lg-9">
        English and Russian
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Notice:</b>
      </div>
      <div class="col-lg-9">
        Those with poor academic performance could be expelled without compensation
      </div>
    </div>
  </div>
  <div class="course-block">
    <h2>Enrolment</h2>
    <div class="center-text">
      <div>Drop me an email <a href="mailto:info@busation.com?subject=Enrol to Coding Bootcamp">info@busation.com</a></div>
      <div>or Telegram me @klishevich</div>
      <div>or Twitter me <a href="https://twitter.com/busation">@busation</a></div>
      <div>to schedule an interview</div>
      <div>Sincerely your Michael Klishevich</div>
    </div>
  </div>
</div>
