<div class="starter-template">
  <h1>Home Page GT Technical Leadership</h1>
  <p class="lead">Some usefull info soon will be here...<br> Have questions? Write me <a href="mailto:info@busation.com">info@busation.com</a>.</p>
  <h1><%=t :hello_world %></h1>
</div>
