<% provide(:title, t(:default_title)) %>
<% provide(:description, "Learn web-development programming for 6 months, Ruby on Rails, Node.js, React with #{t(:default_title)}") %>
<% provide(:keywords, "boston, coding, bootcamp, programming, learn, study, ruby on rails, react, node.js, #{t(:default_title)}") %>
<div class="starter-template">
  <div class="jumbotron d-none d-lg-block">
    <h1 class="display-3"><%= t(:default_title) %></h1>
    <%= render 'home_promo_en' %>
  </div>
  <div class="d-block d-lg-none">
    <h1 class="display-5"><%= t(:default_title) %></h1>
    <%= render 'home_promo_en' %>
  </div>
  <div class="course-block">
    <h2>Basic Course Information</h2>
    <div class="row">
      <div class="col-lg-3">
        <b>Bootcamp starts:</b>
      </div>
      <div class="col-lg-9">
        October 23, 2017
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Bootcamp ends:</b>
      </div>
      <div class="col-lg-9">
        April 23, 2018
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Form of study:</b>
      </div>
      <div class="col-lg-9">
        Online webinars using Zoom + meeting in person once a week in Moscow
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Schedule of study:</b>
      </div>
      <div class="col-lg-9">
        Two times a week (Tuesday, Thursday) from 7pm to 9pm lecture, one time a week (Saturday) from 10am to 12am seminary (Moscow time)
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Home work:</b>
      </div>
      <div class="col-lg-9">
        After each lecture home task is given, so plan than you will need at least 4 hours of home work each week
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Cost of study:</b>
      </div>
      <div class="col-lg-9">
        $1200 (or $200 a month)
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Conditions of enrolment:</b>
      </div>
      <div class="col-lg-9">
        Skype interview
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Ideal student:</b>
      </div>
      <div class="col-lg-9">
        Able to read English, should have some understanding of programming, good if have some experience with HTML/CSS and any programming language, although possible for students without any prior experience, but with technical mentality. Age above 16 years
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Purpose of course:</b>
      </div>
      <div class="col-lg-9">
        To give enough knowledge to get job as a junior web-developer. We help to find first job, although no guarantee to get a job is given.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Language of course:</b>
      </div>
      <div class="col-lg-9">
        English and Russian
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Notice:</b>
      </div>
      <div class="col-lg-9">
        Those with poor academic performance could be expelled without compensation
      </div>
    </div>
  </div>
  <div class="course-block">
    <h2>Enrolment</h2>
    <div class="center-text">
      <div>Drop me email <a href="mailto:info@busation.com?subject=Enrol to Coding Bootcamp">info@busation.com</a></div>
      <div>or Telegram me @klishevich</div>
      <div>or Twitter me <a href="https://twitter.com/busation">@busation</a></div>
      <div>to schedule interview</div>
      <div>Sincerely your Michael Klishevich</div>
    </div>
  </div>
</div>
