<% provide :title, 'Запустить свой обучающий курс по веб-разработке' %>
<% provide :description, "#{t(:default_title)} предлагает платформу для запуска своего обучающего курса по веб-разработке (HTML, CSS, JavaScript, Node.js, DevOps, Python, Ruby, php, SQL)" %>
<% provide(:keywords, "запуск, курс, программирование, веб-разработка, html, css, javascript, nodejs, devops, python, ruby, php, sql") %>
<div class="program-block">
  <h1><%=t :nav_instructor %></h1>
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag "webdev.jpg", class: "img-fluid", alt: "Запустить свой курс по веб-разработке", title: "Запустить свой курс по веб-разработке" %>
    </div>
  </div>
  <br/>
  <div>Если вы опытный веб-разработчик и <b>хотите запустить свой обучающий курс</b>, мы поможем вам:</div>
  <ol>
    <li>Предоставим <b>личный кабинет ментора</b> для управление процессом обучения</li>
    <li>Поможем <b>найти студентов</b></li>
    <li><b>Проконсультируем</b>:
      <ul>
        <li>как составить план курса</li>
        <li>как хорошо записать видео-урок</li>
        <li>как составить интересные домашние задания</li>
        <li>как проверить задание и дать фидбэк</li>
        <li>сколько времени нужно планировать на запись видео и работу со студентами</li>
        <li>как вести себя в конфликтных ситуациях</li>
      </ul>
    </li>
    <li>Решим <b>юридические вопросы</b>: договор обучения, прием оплаты за курсы</li>
    <li>Заменим вас в случае болезни</li>
  </ol>
  <h5>Типы сотрудничества</h5>
  <ol>
    <li><b>Свой бизнес</b>. Вы привлекаете студентов, разрабатывайте курс и обучаете. Мы предоставляем платформу, консультируем и принимаем оплату. Ваш <b>заработок 75%</b> от стоимости курса.</li>
    <li><b>Только обучение</b>. Вы разрабатывайте курс и обучаете студентов. Мы привлекаем студентов, предоставляем платформу, консультируем и принимаем оплату. Ваш <b>заработок 50%</b> от стоимости курса.</li>
    <li><b>Совместный курс</b>. Совместно разрабатываем курс и обучаем студентов. Мы привлекаем студентов, предоставляем платформу, консультируем и принимаем оплату. Ваш <b>заработок 25%</b> от стоимости курса.</li>
    <li><b>Комбинированный курс</b>. Комбинация типов 1 и 2.</li>
  </ol>
  <p>Напишите нам <%= codingbootcamp_email('Become Instructor') %></p>
</div>
