<div>
  <h1><%= t :nav_mentors %></h1>
  <div class="row">
    <div class="col-lg-4 mentor-block">
      <div class="card">
        <%= image_tag 'michael.jpg', alt: 'Michael Klishevich', class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-text">
            <b>Michael Klishevich</b> (Moscow, Russia)<br/>
            <i>JavaScript, React, Node.js, Ruby on Rails, .NET<br/>
              Github: <a href="https://github.com/klishevich">@klishevich</a><br/>
              Upwork: <a href="https://www.upwork.com/o/profiles/users/_~01ece126c6c65d561d/">Michael Klishevich</a>
            </i>
            <hr/>
            5+ years of production web-development. Experience working in corporations (AO «ALFA-BANK») and freelancing with foreign clients on Upwork.<hr/>
            <i>"I learned programming by myself so I know problems newcomers encounter" - Michael</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mentor-block">
      <div class="card">
        <%= image_tag 'evga.jpg', alt: 'Yvga Zavorotko', class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-text">
            <b>Yvga Zavorotko</b> (Boston, USA)<br/>
            <i>JavaScript, HTML/HTML5, CSS/CSS3, Ruby on Rails, Ruby, SQL, Git, Foundation, Bootstrap, RSpec, Capybara, Sinatra,
              Heroku, PostgreSQL, AWS</i>
            <hr/>
            Graduated from <a href="https://launchacademy.com/">Launch Academy</a> - Boston coding bootcamp. Has personal experience about how best USA coding bootcamps teach.<hr/>
            <i>"There is no life without changes." - Yvga</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mentor-block">
      <div class="card">
        <%= image_tag 'incognito.jpg', alt: 'Incognito', class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-text">
            <b>Maybe You?</b><br/>
            <hr/>
            If you have web-development experience (HTML/CSS/JS or React/Node.js or Ruby on Rails) and great desire to share the knowledge, please contact us.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
