<div>
  <h1><%= t :nav_mentors %></h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <%= image_tag 'michael.jpg', alt: 'Michael Klishevich', class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text">
            <b>Майкл Клишевич</b><br/>
            <i>Ruby on Rails, JavaScript разработчик<br/>
            Github: <a href="https://github.com/klishevich">@klishevich</a></i>
            <hr/>
            5 лет опыт разработки на Ruby on Rails и JavaScript, 2 года на React.js и Node.js. Опыт работы в крупных компаниях (AO «АЛЬФА-БАНК») и фриланса с иностранными заказчиками на сайте UpWork.<hr/>
            <i>"Я изучал программирование самостоятельно, поэтому я знаю с какими проблемами сталкиваются новички" - Майкл</i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
