<div>
  <h1><%= t :nav_mentors %></h1>
  <div class="row">
    <div class="col-lg-4 mentor-block">
      <div class="card">
        <%= image_tag 'michael.jpg', alt: 'Michael Klishevich', class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-text">
            <b>Майкл Клишевич</b> (Москва)<br/>
            <i>JavaScript, React, Node.js, Ruby on Rails, .NET<br/>
              Github: <a href="https://github.com/klishevich">@klishevich</a><br/>
              Upwork: <a href="https://www.upwork.com/o/profiles/users/_~01ece126c6c65d561d/">Michael Klishevich</a>
            </i>
            <hr/>
            Более 5 лет промышленной веб-разработки. Опыт работы в крупных компаниях (AO «АЛЬФА-БАНК») и фриланса с иностранными заказчиками на сайте Upwork.<hr/>
            <i>"Я изучал программирование самостоятельно, поэтому я знаю с какими проблемами сталкиваются новички" - Майкл</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mentor-block">
      <div class="card">
        <%= image_tag 'evga.jpg', alt: 'Yvga Zavorotko', class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-text">
            <b>Yvga Zavorotko</b> (Бостон, США)<br/>
            <i>JavaScript, HTML/HTML5, CSS/CSS3, Ruby on Rails, Ruby, SQL, Git, Foundation, Bootstrap, RSpec, Capybara, Sinatra,
              Heroku, PostgreSQL, AWS</i>
            <hr/>
            Выпускница <a href="https://launchacademy.com/">Launch Academy</a> - буткэмпа по программированию в Бостоне. Имеет реальный опыт и понимание как проводят обучение в лучших буткэмпах по программированию в США<hr/>
            <i>"There is no life without changes." - Yvga</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mentor-block">
      <div class="card">
        <%= image_tag 'incognito.jpg', alt: 'Incognito', class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-text">
            <b>Возможно ты?</b><br/>
            <hr/>
            Если у тебя есть опыт веб-разработки (HTML/CSS/JS или React/Node.js или Ruby on Rails) и есть большое желание делиться знаниями с другими, то напиши нам.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
