<div class="partner-block">
  <h1><%=t :nav_partner %></h1>
  <p>Приглашаем к партнерству. Отдаем 30% за привлечение учащихся на курс.</p>
  <p>Напишите нам <%= codingbootcamp_email('Become Partner') %></p>
</div>
