<div class="posts-page-block">
  <h1 class="posts-page-block__title"><%=t :nav_posts %></h1>
  <div class="posts-page-block__item"><%= link_to t(:post_1), post_kak_stat_web_razrabotchikom_path %></div>
</div>
