- provide :title, 'Хочу стать программистом, с чего начать?'
- provide :description, 'Если решили стать программистом и в начале пути, то возникает вопрос что изучать ведь вокруг столько всего'
- provide(:keywords, "веб-разработка, для начинающих, с чего начать")
.posts-page-block
  h1 class='posts-page-block__title' =t(:post_1)
  .posts-page-block__item
    p
      =image_tag 'post1pic.jpg',  class: "img-fluid", title: 'Хочу стать программистом, с чего начать?'
    p Пункт 1. Купите очки, шутка :)
    p Если вы решили стать программистом и при этом раньше ничего подобного не делали, то не понятно с чего начать. С одной стороны программирование бывает разное: разработка сайтов, разработка мобильных приложений, анализ данных, разработка игр, разработка 1С в конце концов.
    p Обычная мотивация стать программистом это зарплаты. Например, в <b>Москве зарплата для программиста 100 тыс. руб. в месяц</b>, это нормально. И это больше чем во многих других профессиях, при этом ты работаешь в офисе в приятной обстановки, или даже удаленно в Тайланде, а не на заводе.
    p <b>Сейчас достаточно высокий спрос на веб-разработчиков</b>. Веб-разработчики нужны для разработки сайтов, веб-приложений и даже мобильные приложения часто разрабатываются с использованием веб-технологий. Но веб-разработчики тоже бывают разные. Есть фронэнд разработка (HTML, CSS, JavaScript) - это внешний вид и интерфейс сайта. Есть бэкэнд разработка (серверная разработка) - это логика сайта, работа с данными, взаимодействие с базой данных и со сторонними сервисами (емайл рассылка, платежные шлюзы, интеграция с другими системами). Для серверной разработки могут использоваться различные языки программирования: Php, Python, Ruby, C#, Java.
    p Конечно больше всего востребованы Full Stack разработчики, которые могут разрабатывать и фронтэнд и бэкэнд. Но даже если вы планируете специлизироваться на чем-то одном, то <b>нужно иметь представление и о фронтэнде и бэкэнде</b>, чтобы эффективно взаимодействовать в команде.
    p Так же для разработчика важны soft skills, то есть личностные качества отвечающие за взаимодействие с другими членами команды, так как в большем случае, работа программиста командная.
    p Вопрос, <b>сколько же нужно времени чтобы стать программистом и все ли имеют способности</b>? Моё мнение, что практически каждый способен, но главное чтобы программирование доставляло удовольствие. По моему опыту за год усердных занятий с ментором можно освоить новую профессию программиста и устроиться по специальности. В США есть буткэмпы, в которых готовят разработчика за 3 месяца (фултайм с отрывом от работы). Так что все очень индивидуально. Если же программирование изучать самостоятельно, как это делал я, то это займет больше времени. В моем случае это было около 2-х лет.
    p Окей, вы решили стать веб-разработчиком, <b>с чего начать</b>?
    ul
      li Очевидно <b>HTML, CSS, JavaScript</b> (но это наверное вы и без меня знали &#9786;).
      li Систему контроля версий <b>Git и GitHub</b>, она нужна для того чтобы у вас была история изменений программного кода, чтобы код не потерялся и чтобы взаимодейстовать с другими разработчиками.
      li <b>Linux</b> так как большенство веб-серверов работают на нем. Наиболее распростанены следующие дистрибутивы Ubuntu, Debian, CentOS (из бесплатных), Red Hat, SUSE (из платных).
      li Освоить какой нибудь <b>текстовый редактор или IDE</b> (Integrated development environment) для удобной и быстрой работы с кодом.
      li Освоить и понять <b>базовы алгоритмы в программировании</b>: работы с циклами, условными операторами, понятие функции.
      li Изучить <b>какой-либо фреймворк для фронтэнда</b>, например Twitter Bootstrap, чтобы из готовых блоков быстро делать верстку.
      li Научиться работаться с инструментами разработки в браузере (<b>Google Chrome Dev Tools</b>), они помогут при работе с версткой и отладкой JavaScript.
      li <b>Понять что такое веб-сервер</b> (NGINX или Apache) и как делать его базовые настройки.
      li Изучить основы работы с базами данных (MySQL или Postgres) и <b>SQL</b>.
      li Ну и наконец изучить какой-либо <b>серверный фреймворк для веб-разработки</b> (Ruby on Rails, Python Django, PHP Laravel, .Net MVC или что-то еще).
      li Ну и наконец <b>настроить свой собственный сервер</b> на который разместить свое первое веб-приложение.
    p Путь не короткий, но и ничего сложного в нем нет, так как в интернете очень много ресурсов, в том числе бесплатных. <b>Главное чтобы хватило усердия!</b>
    p Ну и хорошо когда в этом деле вас сопровождает опытный наставник, вдвоем путь всегда короче, проще и веселей.
    p Если вы хотите начать изучение веб-разработки с наставником у нас как раз 7 ноября начинается новый курс #{link_to "Введение в веб-разработку", program_intro_to_web_path }.
    p Подписывайтесь на наш канал в телеграм, чтобы быть в курсе других статей по изучению программирования #{link_to 't.me/codingbootcamp', 'https://t.me/codingbootcamp'}.
    p PS: многие думают что все программисты выглядят как бомжы, это не правда :)
