<div class="program-block">
  <h1>Программа курса <%= t(:program_web_developer) %></h1>
  <h5><span class="badge badge-primary">Module 3</span> Ruby on Rails <span class="badge badge-success">9 weeks</span></h5>
  <ol>
    <li>Ruby on Rails and object oriented programming <span class="badge badge-success">1 hour</span>
      <ul>
        <li>IRB</li>
        <li>Basic OOP concepts</li>
        <li><span class="badge badge-warning">Homework</span>: Make an interactive console ruby application. Use OOP approach</li>
      </ul>
    </li>
    <li>Ruby on Rails (RoR) project structure <span class="badge badge-success">2 hours</span>
      <ul>
        <li>MVC programming pattern. MVC parts: Models, Views, Controllers, Routing</li>
        <li>Gems, Bundler</li>
        <li>Static Ruby on Rails site</li>
        <li><span class="badge badge-warning">Homework</span>: Make a two pages personal web site with a header and a footer</li>
      </ul>
    </li>
    <li>Deployment application tool - Capistrano <span class="badge badge-success">1 hour</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Set up Capistrano for your project</li>
      </ul>
    </li>
    <li>SQL Basics <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Install and configurate Postgres (Linux, OSX)</li>
        <li>Set up Rails database config, create a model, seed data, basic SQL commands</li>
        <li>Theory of relational databases</li>
        <li><span class="badge badge-warning">Homework</span>: Create two tables, with an index and a foreign key. Scripts to fill data in tables, to select data, to group data, to update data, to delete</li>
      </ul>
    </li>
    <li>Rails Assets <span class="badge badge-success">2 hours</span>
      <ul>
        <li>CSS, JavaScript, Images, Fonts</li>
        <li>Add Bootstrap to project</li>
        <li><span class="badge badge-warning">Homework</span>: Add a custom template to project</li>
      </ul>
    </li>
    <li>Authentication with Devise gem <span class="badge badge-success">1 hour</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Create a site with a registration and a user page</li>
      </ul>
    </li>
    <li>Authorisation with CanCan <span class="badge badge-success">1 hour</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Add an option for an admin user to look through the list of all users</li>
      </ul>
    </li>
    <li>Work with images and files <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Set up ImageMagick</li>
        <li>Add Images and files to your project</li>
        <li><span class="badge badge-warning">Homework</span>: Add file upload and image upload to your project</li>
      </ul>
    </li>
    <li>Rails console <span class="badge badge-success">1 hour</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Create data through rails console, work with models, select data</li>
      </ul>
    </li>
    <li>Mailers and Gmail integration<span class="badge badge-success">2 hour</span>
      <ul>
        <li><span class="badge badge-warning">Home task</span>: Set up mailers and templates for your project</li>
      </ul>
    </li>
    <li>Background jobs: Redis, Resque <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Resque-web</li>
        <li>God</li>
        <li><span class="badge badge-warning">Homewok</span>: Create model messages. Create UI for the admin to create the message. Set up the weekly news email for all users, sent with Resque</li>
      </ul>
    </li>
    <li>We'll talk about AWS S3 file storage and other AWS services <span class="badge badge-success">2 hour</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Set up AWS account. Set up AWS S3 storage for your project</li>
      </ul>
    </li>
    <li>Integration with REST APIs <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Twitter example</li>
        <li><span class="badge badge-warning">Homework</span>: Integrate your project with Twitter, Facebook</li>
      </ul>
    </li>
    <li>Rspec-testing <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Unit tests</li>
        <li>Request tests</li>
        <li>Testing JavaScript</li>
        <li><span class="badge badge-warning">Home task</span>: Write tests for your project</li>
      </ul>
    </li>
    <li>Developing your ruby library - Gem <span class="badge badge-success">2 hours</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Create your personal library</li>
      </ul>
    </li>
    <li>Developing REST API <span class="badge badge-success">4 hours</span>
      <ul>
        <li>API template, API version</li>
        <li>CORS settings</li>
        <li>Authentication (Gems, JWT for server)</li>
        <li>Serializers</li>
        <li>Tests</li>
        <li>Services</li>
        <li>Queries</li>
        <li><span class="badge badge-warning">Homework</span>: Create REST API for model singers</li>
      </ul>
    </li>
    <li>Personal project <span class="badge badge-danger">Student's сoursework</span> <span class="badge badge-success">4 hours</span>
      <ul>
        <li>Get professional advice on personal projects, while working on them!</li>
        <li><b>Project types</b>: E-Commerce site or Integration module or Social network</li>
        <li><b>Project should have</b>: custom UI design, at least one integration, at least one background job</li>
      </ul>
    </li>
    <li>Team project. 3 members in each team <span class="badge badge-danger">Coursework</span> <span class="badge badge-success">4 hours</span>
      <ul>
        <li>Get professional advice, while working on team projects!</li>
        <li><b>Project types</b>: REST API for education system. Models: Teacher, Student, Exam, ExamResult</li>
        <li><b>Project should have</b>: Custom UI design, at least two integrations, at least two background jobs</li>
      </ul>
    </li>
  </ol>
</div>
