<div class="program-block">
  <h1>Программа курса <%= t(:program_intro_to_web) %></h1>
  <h5><span class="badge badge-primary">Module 1</span> Welcome to Programming <span class="badge badge-success">1 week</span></h5>
  <ol>
    <li>Introduction to Programming <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Programming specialist fields' review: <b>web developer (frontend, backend, full-stack)</b>, mobile (iOS, Android), SQL (MS SQL, PL SQL, Postgres), Data Science (Machine Learning, Data Mining, Cluster Analysis), VR development, Games development</li>
        <li>Programming Languages and Frameworks' review: Java, C#, Python, <b>Ruby on Rails</b>, Swift, Objective C, <b>JavaScript, React</b>, Angular, Vue, jQuery</li>
        <li><span class="badge badge-warning">Homework</span>: Install ruby, play around with IRB</li>
      </ul>
    </li>
    <li>How to find your first job in the field of programming <span class="badge badge-success">0.5 hour</span></li>
    <li>Version Control <span class="badge badge-success">1 hour</span>
      <ul>
        <li><b>Git (GitHub)</b>, SVN, TFS</li>
        <li><span class="badge badge-warning">Homework</span>: Setting GitHub account, adding SSH keys and creating your first repository</li>
      </ul>
    </li>
    <li>Text Editors and IDEs <span class="badge badge-success">0.5 hour</span>
      <ul>
        <li><b>Sublime Text</b>, Visual Studio Code, Atom, WebStorm, RubyMine</li>
        <li><span class="badge badge-warning">Homework</span>: Set up Sublime Text editor, add JavaScript and Ruby autocomplete plugins</li>
      </ul>
    </li>
    <li>Linux or Mac basics <span class="badge badge-success">1 hour</span>
      <ul>
        <li>Terminal basic commands</li>
        <li>VI basic commands</li>
        <li><span class="badge badge-warning">Home task</span>: Create basic HTML index page using Terminal and VI</li>
      </ul>
    </li>
    <li>Tools <span class="badge badge-success">0.5 hour</span>
      <ul>
        <li>Slack, Jira, Git</li>
        <li><span class="badge badge-warning">Homework</span>: Register your Slack account and join the Bootcamp team</li>
      </ul>
    </li>
  </ol>

  <h5><span class="badge badge-primary">Module 2</span> CSS / HTML / JavaScript <span class="badge badge-success">2 weeks</span></h5>
  <ol>
    <li>Basics of CSS / HTML <span class="badge badge-success">2 hours</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Create your personal page with your bio, photo, email and phone number. Use as many CSS and HTML tags as you can (<a href="https://fvsch.com/code/base-stylesheet/full.css" target="_blank">fvsch.com/code/base-stylesheet/full.css</a>)</li>
      </ul>
    </li>
    <li>Basics of JavaScript and jQuery <span class="badge badge-success">2 hours</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Add some JavaScript to you page: alerts, a form to calculate your precise age, manipulations with DOM</li>
      </ul>
    </li>
    <li>Responsive sites <span class="badge badge-success">2 hours</span>
      <ul>
        <li><b>Twitter Bootstrap</b> / Material UI / Foundation</li>
        <li><span class="badge badge-warning">Homework</span>: Create you bio page using a bootstrap template. The page should be responsive. Use the grid system, tables, navigation, at least two pages, a carousel</li>
      </ul>
    </li>
    <li>Setting up Linux server <span class="badge badge-success">2 hours</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Register Linode account, acquire domain name, set up nginx and add the site to hosting</li>
      </ul>
    </li>
  </ol>
</div>
