<% provide :title, "Курс #{t(:program_modern_javascript)} от #{t(:default_title)}" %>
<% provide :description, "Программа курса: React, Node.js, Webpack, React Router, Middlewares, Material UI, Redux, Components and Containers, CRUD, Form validation, Testing with Jest, Express Server, Mongo DB, JWT authentication, PM2" %>
<% provide(:keywords, "курс, react, node.js, javascript") %>
<div class="program-block">
  <h1>Программа курса <%= t(:program_modern_javascript) %></h1>
  <h5><span class="badge badge-primary">Module 2</span> <%= t(:program_modern_javascript) %> <span class="badge badge-success">9 weeks</span></h5>
  <ol>
    <li>What is Node.js <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Install NPM, Node</li>
        <li>EcmaScript 6+</li>
        <li>Node REPL</li>
        <li>Webpack</li>
        <li>React alternatives: Angular 2, Vue, Meteor, Ember</li>
        <li><span class="badge badge-warning">Homework</span>: Create a new node.js project. Play around with node</li>
      </ul>
    </li>
    <li>Integrate React with backend API <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Setting up Webpack</li>
        <li>ES6 modules, import, export</li>
        <li>Dynamic page with React example</li>
        <li><span class="badge badge-warning">Homework</span>: Create an editable grid page with React: Webpack, ES6+</li>
      </ul>
    </li>
    <li>Redux <span class="badge badge-success">3 hours</span>
      <ul>
        <li>Why use Redux</li>
        <li>Redux alternatives</li>
        <li>Dynamic page with Redux example</li>
        <li>Redux Thunk Middleware: Redux Thunk</li>
        <li><span class="badge badge-warning">Homework</span>: Create an editable grid page with React and Redux</li>
      </ul>
    </li>
    <li>Single Page Application SPA <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Create a new JavaScript project, add essential dependancies, Webpack, React, Redux, React Router</li>
        <li><span class="badge badge-warning">Home task</span>: Create a personal project with Webpack, React, Redux, React Router and couple of pages</li>
      </ul>
    </li>
    <li>Running the create-react-app for a new project <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Project structure</li>
        <li>Start up scripts</li>
        <li>Adding Redux and React Router</li>
        <li>Grid Page</li>
        <li><span class="badge badge-warning">Homework</span>: Continue where you started during the lecture - create a page and Edit the  page. Routing</li>
      </ul>
    </li>
    <li>What it takes to be a Webpack Engineer! <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Assets, Loaders, npm scripts</li>
        <li>Dev and productions configurations</li>
        <li>Start with mocks</li>
        <li><span class="badge badge-warning">Homework</span>: Set up webpack from scratch</li>
      </ul>
    </li>
    <li>Productivity: ESLint, mocks with nock <span class="badge badge-success">1 hour</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Set up personal eslintrc.js, play around with different code styles</li>
      </ul>
    </li>
    <li>Testing Application: Jest, Karma <span class="badge badge-success">3 hours</span>
      <ul>
        <li>Testing functions</li>
        <li>Testing components</li>
        <li>Integration tests</li>
        <li><span class="badge badge-warning">Homework</span>: Full coverage for your project</li>
      </ul>
    </li>
    <li>Authentication for SPA <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Understanding of authentication and authorisation</li>
        <li>JWT authentication</li>
        <li><span class="badge badge-warning">Homework</span>: Create a new project and add JWT authentication with existing Rails backend</li>
      </ul>
    </li>
    <li>Node.js Express server <span class="badge badge-success">4 hours</span>
      <ul>
        <li>Purpose of node.js server</li>
        <li>Add services and mocks to node.js server</li>
        <li>Adding business logic to node.js server</li>
        <li>Authentication on server usage</li>
        <li><span class="badge badge-warning">Homework</span>: Create an application with Express server connected to Postgres database and CRUD UI</li>
      </ul>
    </li>
    <li>Google Firebase <span class="badge badge-success">2 hours</span>
      <ul>
        <li>What is Firebase and when you should use it</li>
        <li>Firebase as backend for SPA usage</li>
        <li><span class="badge badge-warning">Homework</span>: Replace Postgres with Firebase</li>
      </ul>
    </li>
    <li>Setting Up Production server <span class="badge badge-success">2 hours</span>
      <ul>
        <li>Nginx, Express</li>
        <li><span class="badge badge-warning">Homework</span>: Set up production environment for your node.js project with assets</li>
      </ul>
    </li>
    <li>Continuous deployment of node.js application with Jenkins / Travis CI <span class="badge badge-success">2 hours</span>
      <ul>
        <li><span class="badge badge-warning">Homework</span>: Deploy your node.js application with Jenkins</li>
      </ul>
    </li>
    <li>Personal project <span class="badge badge-danger">Coursework</span> <span class="badge badge-success">4 hours</span>
      <ul>
        <li>Get professional advice while working on your personal project!</li>
      </ul>
    </li>
    <li>Team project 3 members in each team <span class="badge badge-danger">Coursework</span> <span class="badge badge-success">4 hours</span>
      <ul>
        <li>Get professional advice while working on team projects!</li>
      </ul>
    </li>
  </ol>
  <div class="center-text">
    <div class="apply-now-button-large">
      <%= apply_now_button 'large' %>
    </div>
  </div>
</div>
