<% page_title = 'Админка ментора / Редактирование курса студента' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title  %>
<h2>Редактирование курса студента</h2>
<%= render "form" %>
