<div class="info-block3 my-lesson-st-show">
  <h3>Информация для студента</h3>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:status), @my_lesson.status) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:comment_for_student), @my_lesson.comment_for_student) %>
</div>
