<div class="col-lg-3 bd-sidebar">
  <nav class="bd-links">
    <div class="bd-toc-item">
      <h3>План урока</h3>
      <%= steps_sidebar_menu(@my_course, @my_lesson, @my_steps, @my_step_id) %>
    </div>
  </nav>
</div>
