<% page_title = 'Админка ментора / Просмотр курса студента / Редактировать урок' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title %>
<h2>Редактирование урока</h2>
<%= render "form" %>
