<% page_title = 'ЛК Студента / Просмотр курса / Просмотр урока' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title  %>
<div class="row">
  <div class="col-lg-3">
    <%= render 'st_my_lessons/steps_sidebar' %>
  </div>
  <div class="col-lg-9">
    <%= render 'steps/all_show' %>
  </div>
</div>
