<div class="info-block3 lesson-show">
  <h3><%= @step.name %></h3>
  <% if !@step.video_link.blank? %>
    <div class="show-div">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src='https://www.youtube.com/embed/<%=@step.video_link %>' frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  <% end %>
  <br/>
  <div>
    <%= raw(@step.desc) %>
  </div>
  <%= show_div_not_blank(Step.human_attribute_name(:step_type), @step.step_type) %>
</div>
