<% page_title = 'Админка ментора / Просмотр курса / Просмотр урока / Создание шага' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title %>
<h2>Создание шага</h2>
<%= render "form" %>
