<% page_title = 'Админка ментора / Просмотр курса / Просмотр урока / Просмотр шага' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title  %>
<div class="form-group">
  <%= link_to "Просмотр урока", course_lesson_path(@course, @lesson), class: "btn btn-secondary" %>
  <% if current_user&.is_mentor? %>
  <%= link_to "Редактировать шаг", edit_course_lesson_step_path(@course, @lesson, @step), class: "btn btn-primary" %>
  <% end %>
</div>
<%= render 'all_show' %>
