// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 5rem;
}

.starter-template {
  h1 {
    margin-top: 1rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  text-align: center;
}

.navbar-brand {
  padding: 0;
}

.course-block {
  text-align: left;
  h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .intro {
    margin-bottom: 1rem;
  }
  .center-text {
    text-align: center;
  }
}

.program-block {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  h5 {
    margin-top: 2rem;
  }
  ol {
    padding-left: 1.5rem;
    ul {
      padding-left: 1rem;
    }
  }
}

.become-instructor-block {
  p {
    margin-bottom: 0;
  }
  ul {
    padding-left: 1.5rem;
  }
}

.lead {
  text-align: center;
  margin-top: 1rem;
}
